<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon"
      type="image/png"
      href="assets/images/heart_2x.png">
    <title>Frances and David - Our Engagement and Wedding Website</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css"/>
</head>
<body>
    <header>
        <nav id="navigation" class="pure-menu pure-menu-open pure-menu-horizontal">
            <h1 id="page-title">
                <a href="#"><i class="fa fa-heart fa-2"></i>F &amp; D</a>
            </h1>
            <ul>
                <li class="nav-item"><a href="#story">Our Story</a></li>
                <li class="nav-item"><a href="#proposal">Proposal</a></li>
                <li class="nav-item"><a href="#photos">Photos</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="splash-container">
            <div class="splash">
                <span class="splash-text">Frances</span>
                <span class="splash-text">&amp;</span>
                <span class="splash-text">David</span>
            </div>
        </div>
        <div class="content">
            <a name="story"></a>
            <div class="filler">&nbsp;</div>
            <h2>Our Story</h2>
            <p><img class="float-left portrait-small" src="assets/images/lupe_fiasco_concert_edited.jpg"/>Frances and David met in college at UCSD and were part of the same Filipino organization.
            The first time Frances and David met, David, a 3rd year, gave directions to Frances, a lost 1st year looking for dance practice for their organization's annual production.<img class="float-right portrait-small" src="assets/images/first_anniversary_edited.jpg"/></p>
            <p>Beach outings, spending Frances' meal points, study sessions, movie nights, and summer hangouts allowed their friendship to grow into something more.</p>
            <p>Over the years, their relationship has withstood the test of time and distance, never living in the same zip code since David graduated college.</p>
            <p>Through numerous phone calls, FaceTiming, and the occasional online gaming, distance was a challenge, but an opportunity to connect at a deeper level.</p>

            <a name="proposal"></a>
            <div class="filler">&nbsp;</div>
            <h2>The Proposal</h2>
            <p>Once Frances moved back home from Massachusetts, David vowed to never leave her out of his sight and proposed.  Want to see how it was done?</p>
            <p><iframe width="853" height="480" src="http://www.youtube.com/embed/FPimCVb5IhA?rel=0" frameborder="0" allowfullscreen></iframe></p>

            <a name="photos"></a>
            <div class="filler">&nbsp;</div>
            <h2>Photos</h2>
            <div id="flickr-set"/>
        </div>
    </section>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/index.js"></script>
</body>
</html>
