@import url(https://fonts.googleapis.com/css?family=Sura);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url("title-logo.css");
@import url("nav.css");
@import url("content.css");
@import url("photos.css");
@import url("modal.css");
/*
GENERAL LAYOUT STYLES
 */
body {
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Sura', serif;
}

header {
    width: 100%;
    position: relative;
    z-index: 3;
}

header nav {
    position: fixed;
}

/*
  Top Page Splash
*/

.splash {
    max-height: 800px;
    overflow: hidden;
    margin-bottom: -7px;
}
.splash-container img {
    width: 100%;
}

.splash-container .splash-text-container {
    position: absolute;
    top: 10%;
    margin-left: 2%;
}
.splash-container .splash-text {
    display: block;
    color: #FFF;
    float: left;
    clear: both;
    font-size: 270%;
}


/*
  Button style
*/

.button-primary {
    background-color: #C51919;
    color: #FFFFFF;
}
