/*
GENERAL LAYOUT STYLES
 */
body {
	padding: 0px;
	margin: 0px;
}

header {
	width: 100%;
	position: relative;
	z-index: 3;
}

header nav {
	position: fixed;
}

/*
TITLE SYLES
 */

#page-title {
	display: inline-block;
	margin: 0px 20px;
}

#page-title a {
	display: inline-block;
	padding: 0px;
	color: #555;
}

#page-title a i {
	padding-right: 5px;
}

#page-title a:hover {
	color: gray;
}

/*
NAVIGATION STYLES
 */

header nav#navigation ul {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

header nav#navigation.pure-menu.pure-menu-open {
	background-color: #E3E8EC;
}

header nav#navigation .nav-item a {
	color: #333;
	text-transform: uppercase;
	border-radius: 4px;
}

/*
SPLASH MAGIC thanks to purecss.io examples
 */
.splash-container {
	background: url("../images/engagement.jpg") no-repeat center center fixed;
	background-size: cover;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: 2%;
    min-width: 680px
}

.splash-container .splash-text {
	font-family: sans-serif;
	display: block;
	color: #F5F5F5;
}

/*TODO: make responsive*/
.splash-text {
	font-size: 60px;
	opacity: 0.8;
}

/*
CONTENT STYLES
 */

.content {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.content h2 {
	font-weight: normal;
	font-family: "omnes-pro", sans-serif;
	color: #1f8dd6;
	padding-left: 20px;
}

.filler {
	height: 50px;
	background-color: #E5E5E5;
}

.content p {
	padding-left: 20px;
}
