/*
NAVIGATION STYLES
 */

#menu .pure-menu-item a.pure-menu-link {
    color: #333;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: 'Sura', serif;
}

#menu .pure-menu ul.pure-menu-list {
    margin-right: 10px;
}

/*
  Fancy responsive menu from http://purecss.io/layouts/tucked-menu-vertical/
*/
.custom-wrapper {
    -webkit-font-smoothing: antialiased;
    height: 2.5em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    width: 100%;
    background-color: #E3E8EC;
    opacity: 0.85;
}

.custom-wrapper.open {
    height: 19em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 767px) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

    .pure-menu-item a.pure-menu-link {
        font-size: 1.5em;
    }

}
