/* Flickr Photos styles*/
#flickr-set {
    background-color: #8C8C8C;
}

#flickr-set ul {
    list-style: none;
}

#flickr-set ul li {
    display: inline;
}

#flickr-set .flickr-container .item {
    margin-bottom: 10px;
    margin-right: 10px;
}
