/* Flickr Photos styles*/
.photos .flickr-container {
    list-style: none;
}

.photos .flickr-container li {
    display: inline;
}

.photos .flickr-container .item {
    margin-bottom: 5px;
    width: 220px;
    border-radius: 16px;
    box-shadow: 0 12px 20px rgba(16, 19, 26, 0.12);
    overflow: hidden;
    width: 100%;
    display: block;
}

/* source from http://osvaldas.info/image-lightbox-responsive-touch-friendly */
#imagelightbox
{
    cursor: pointer;
    position: fixed;
    z-index: 10000;

    -ms-touch-action: none;
    touch-action: none;

    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}

/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
    border-radius: 50%;
}
#imagelightbox-loading
{
    width: 2.5em; /* 40 */
    height: 2.5em; /* 40 */
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5 );
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    padding: 0.625em; /* 10 */
    margin: -1.25em 0 0 -1.25em; /* 20 */

    -webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
    box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
    #imagelightbox-loading div
    {
        width: 1.25em; /* 20 */
        height: 1.25em; /* 20 */
        background-color: #fff;

        -webkit-animation: imagelightbox-loading .5s ease infinite;
        animation: imagelightbox-loading .5s ease infinite;
    }

    @-webkit-keyframes imagelightbox-loading
    {
        from { opacity: .5;    -webkit-transform: scale( .75 ); }
        50%     { opacity: 1;    -webkit-transform: scale( 1 ); }
        to     { opacity: .5;    -webkit-transform: scale( .75 ); }
    }
    @keyframes imagelightbox-loading
    {
        from { opacity: .5;    transform: scale( .75 ); }
        50%     { opacity: 1;    transform: scale( 1 ); }
        to     { opacity: .5;    transform: scale( .75 ); }
    }


/* OVERLAY */

#imagelightbox-overlay
{
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .9 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* "CLOSE" BUTTON */

#imagelightbox-close
{
    width: 2.5em; /* 40 */
    height: 2.5em; /* 40 */
    text-align: left;
    background-color: #666;
    border-radius: 50%;
    position: fixed;
    z-index: 10002;
    top: 2.5em; /* 40 */
    right: 2.5em; /* 40 */

    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
    #imagelightbox-close:hover,
    #imagelightbox-close:focus
    {
        background-color: #111;
    }
    #imagelightbox-close:before,
    #imagelightbox-close:after
    {
        width: 2px;
        background-color: #fff;
        content: '';
        position: absolute;
        top: 20%;
        bottom: 20%;
        left: 50%;
        margin-left: -1px;
    }
    #imagelightbox-close:before
    {
        -webkit-transform: rotate( 45deg );
        -ms-transform: rotate( 45deg );
        transform: rotate( 45deg );
    }
    #imagelightbox-close:after
    {
        -webkit-transform: rotate( -45deg );
        -ms-transform: rotate( -45deg );
        transform: rotate( -45deg );
    }
