/*
TITLE/LOGO SYLES
 */

#page-title {
    display: inline-block;
    margin: 0px 20px;
}

#page-title a {
    display: inline-block;
    padding: 0px;
    color: #C51919;
}

#page-title a i {
    padding-right: 10px;
}

#page-title a:hover {
    color: gray;
}
